

.home{
    margin: 15px 10%;
}
.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: block;
}

.customHome {
    padding: 30px;
    border: 1px solid greenyellow;
}